@model UMS_HUSC_WEB_API.ViewModels.Demo.DemoPostClass
@{
    ViewBag.Title = "DemoPostClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<center>
    <h2>Demo Thêm Lớp Học Phần Mới</h2>
</center>
<div class="" style="width: 50%; margin: 0 auto">
    @using (Html.BeginForm("DemoPostClass", "Demo", FormMethod.Post))
    {
        <div class="form-group">
            <label>Học kỳ:</label>
            <select class="form-control" name="hocKy" required>
                @foreach (var item in Model.HocKys)
                {
                    <option value="@item.MaHocKy">
                        @{ Write(string.Format("{0}  ( {1} - {2} )", item.TenHocKy, item.NamBatDau, item.NamKetThuc)); }
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Học phần:</label>
            <select class="form-control" name="hocPhan" required>
                @foreach (var item in Model.HocPhans)
                {
                    <option value="@item.MaHocPhan">
                        @{ Write(item.TenHocPhan); }
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Số thứ tự lớp:</label>
            <input type="number" class="form-control" name="soThuTu" required />
        </div>

        <div class="form-group">
            <label>Giảng viên phụ trách:</label>
            <select class="form-control" name="giangVien" required>
                @foreach (var item in Model.GiangViens)
                {
                    <option value="@item.MaGiangVien">
                        @{ Write(item.HoVaTen); }
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Ngày hết hạn đăng ký:</label>
            <input type="date" name="ngayHetHanDangKy" class="form-control" required />
        </div>

        <div class="form-group">
            <label>Ngày học trong tuần:</label>
            <select class="form-control" name="ngayTrongTuan" required>
                @for (int i = 1; i <= 7; i++)
                {
                    <option value="@i">
                        @if (i == 1) { Write("Chủ nhật"); }

                        else { Write("Thứ " + i); }
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Ngày bắt đầu học:</label>
            <input type="date" name="ngayBatDauHoc" class="form-control" required />
        </div>

        <div class="form-group">
            <label>Ngày kết thúc học:</label>
            <input type="date" name="ngayKetThucHoc" class="form-control" required />
        </div>

        <div class="form-group">
            <label>Phòng học:</label>
            <select class="form-control" name="phongHoc" required>
                @foreach (var item in Model.PhongHocs)
                {
                    <option value="@item.MaPhong">
                        @{ Write(item.TenPhong); }
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Tiết học bắt đầu:</label>
            <select class="form-control" name="tietHocBatDau" required>
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i">
                        Tiết @i
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Tiết học kết thúc:</label>
            <select class="form-control" name="tietHocKetThuc" required>
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i">
                        Tiết @i
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success" style="width: 100%" />
        </div>
    }
</div>

